[submodule "python/projects/flaskweb/examsys"]
	path = python/projects/flaskweb/examsys
	url = https://github.com/booox/examsys.git
[submodule "python/projects/flaskweb/flasky"]
	path = python/projects/flaskweb/flasky
	url = https://github.com/booox/flasky.git
[submodule "python/Python Courses/OpenMindClub Data102/Data102"]
	path = python/Python Courses/OpenMindClub Data102/Data102
	url = https://github.com/booox/Data102.git
